* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.square {
    width: 40px;
    height: 40px;
    background: #1d1d1d;
    box-shadow: 0 0 2px #000;
    margin: 2px;
    transition: 3s ease;
}

.square:hover {
    transition: 0s;
}