body {
    margin: 0;
    display: grid;
    overflow: hidden;
    height: 100vh;
    background: #000;
}

body::before {
    content: "";
    padding: 7.25em;
    background: radial-gradient(#ff8800 3.25em, #025502 4.25em);
}

body::after {
    content: "Loading";
    position: absolute;
    top: calc(50% + 6.25em);
    left: 50%; 
    transform: translate(-50%);
    color: rgba(255, 255, 255, 0.5);
    font: 200 1.5em/1.25 sans-serif;
    letter-spacing: 1px;
    animation: loop 1s ease-in-out infinite alternate;
    text-transform: uppercase;
}

div, ::before, ::after {
    place-self: center;
    grid-column: 1;
    grid-row: 1;
}

.loader {
    display: grid;
    padding: 2em;
    background: inherit;
    filter: contrast(9);
    mix-blend-mode: multiply;
}

.loader::before, .loader::after {
    content: "";
    padding: 6.25em;
    --stop: #fff calc(1em - 1px), transparent 1em;
    background: radial-gradient(circle at 1em, var(--stop)),
    radial-gradient(circle at 50% 1em, var(--stop)),
    radial-gradient(circle at calc(100% - 1em), var(--stop)),
    radial-gradient(circle at 50% calc(100% - 1em), var(--stop));
    filter: blur(9px);
    animation: repeat 0.875s ease-in-out infinite;
}

.loader::before {
    animation-name: ring;
}


@keyframes loop {
    to {
        opacity: 0;
    }
}

@keyframes repeat {
    33.33%, 66.67% {
        padding: 1em;
    }
}

@keyframes ring {
    33.33% {
        transform: rotate(0);
    }
    66.67%, 100% {
        transform: rotate(90deg);
    }
}