* {
	margin: 0;
    padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
    font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(100deg, #e74d89, #febaa6);
}

.wrapper {
	margin: 0 100px;
	overflow: hidden;
	white-space: nowrap;
	user-select: none;
	cursor: pointer;
	border: 2px solid #dadada;
	padding: 20px;
	overflow-x: auto;
}

.wrapper::-webkit-scrollbar {
	width: 0;
}

.box {
	width: 200px;
	height: 200px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 60px;
	color: #fff;
	background: #e43075;
	margin: 0 10px;
}